/***GERAL***/

:root {
  font-size: 62.5%;
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --border-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: hsl(258, 73%, 62%);
  --bg-button-color-hover: hsl(258, 45%, 46%);
  --title-color: #08c05e;
  --font-family-Spartan: 'Spartan', 'Work Sans';
  --font-family-Work: 'Work Sans', 'Spartan';
}

* {
  box-sizing: border-box;
}

body * {
  font-family: var(--font-family-Spartan);
  font-weight: 400;
  font-size: 1.6rem;
}

/***SPECIFIC***/
main {
  display: grid;
  grid-template-areas: 'content banner';
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.content {
  grid-area: content;
  background-color: var(--body-bg-color);
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.banner {
  grid-area: banner;
  background-image: url('../img/read_news.jpg');
  background-position: 75% center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__img {
  width: 50%;
}
.contents {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contents__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: lowercase;
  font-family: var(--font-family-Work);
}

.contents__subtitle {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 700;
}

.contents__text {
  font-size: 1.4rem;
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--form-color);
}

.form .input {
  display: flex;
  width: 55vw;
  position: relative;
}

.input__email {
  border: none;
  display: inline-block;
  width: 100%;
  padding: 1.7rem 1rem;
  border-left: 5px solid var(--border-color);
  transition: all 250ms;
}

.input__button {
  cursor: pointer;
  border: none;
  width: 4.8rem;
  background-color: var(--bg-button-color);
  background-image: url('../img/send.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: all 250ms;
}

.form__link {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--bg-button-color);

  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 250ms;
}

.form__link::after {
  content: '';
  margin: 5px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../img/arrow-right.svg');
  stroke: var(--bg-button-color);
  background-repeat: no-repeat;
  background-size: cover;
}

/***USER INTERACTIONS***/
.input__email:focus {
  transition: all 250ms;
  border: 2px solid var(--border-color);
  border-left: 5px solid var(--bg-button-color);
  outline: none;
}

.input__button:hover {
  transition: all 250ms;
  background-color: var(--bg-button-color-hover);
}

.form__link:hover {
  font-size: 1.6rem;
  transition: all 250ms;
  color: var(--title-color);
}
